@font-face {
font-family: "Aardvark Cafe";
src: url("Aardvark Cafe.eot") format("eot"); /* IE9 Compat Modes */
src: url("Aardvark Cafe.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Aardvark Cafe.woff") format("woff"), /* Modern Browsers */
     url("Aardvark Cafe.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Abilane Free Trial";
src: url("Abilane Free Trial.eot") format("eot"); /* IE9 Compat Modes */
src: url("Abilane Free Trial.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Abilane Free Trial.woff") format("woff"), /* Modern Browsers */
     url("Abilane Free Trial.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "AboveStars";
src: url("AboveStars.eot") format("eot"); /* IE9 Compat Modes */
src: url("AboveStars.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("AboveStars.woff") format("woff"), /* Modern Browsers */
     url("AboveStars.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "AcapelaDEMO";
src: url("AcapelaDEMO.eot") format("eot"); /* IE9 Compat Modes */
src: url("AcapelaDEMO.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("AcapelaDEMO.woff") format("woff"), /* Modern Browsers */
     url("AcapelaDEMO.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Acknesia";
src: url("Acknesia.eot") format("eot"); /* IE9 Compat Modes */
src: url("Acknesia.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Acknesia.woff") format("woff"), /* Modern Browsers */
     url("Acknesia.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Aclonica Regular";
src: url("Aclonica Regular.eot") format("eot"); /* IE9 Compat Modes */
src: url("Aclonica Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Aclonica Regular.woff") format("woff"), /* Modern Browsers */
     url("Aclonica Regular.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "ActaAmour Regular";
src: url("ActaAmour Regular.eot") format("eot"); /* IE9 Compat Modes */
src: url("ActaAmour Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("ActaAmour Regular.woff") format("woff"), /* Modern Browsers */
     url("ActaAmour Regular.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Adorable Handmade";
src: url("Adorable Handmade.eot") format("eot"); /* IE9 Compat Modes */
src: url("Adorable Handmade.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Adorable Handmade.woff") format("woff"), /* Modern Browsers */
     url("Adorable Handmade.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "ADVENTURE AWAIT";
src: url("ADVENTURE AWAIT.eot") format("eot"); /* IE9 Compat Modes */
src: url("ADVENTURE AWAIT.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("ADVENTURE AWAIT.woff") format("woff"), /* Modern Browsers */
     url("ADVENTURE AWAIT.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Aesthetic";
src: url("Aesthetic.eot") format("eot"); /* IE9 Compat Modes */
src: url("Aesthetic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Aesthetic.woff") format("woff"), /* Modern Browsers */
     url("Aesthetic.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Ubuntu Regular";
src: url("Ubuntu Regular.eot") format("eot"); /* IE9 Compat Modes */
src: url("Ubuntu Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Ubuntu Regular.woff") format("woff"), /* Modern Browsers */
     url("Ubuntu Regular.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
